<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practica 2</title>    
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>

<h1 class="text-center mt-2">La brocha gorda</h1>

<div class="container">
    <div class="jumbotron">

        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="">Área en m2</label>
                    <input id="ipNumero1" type="number" class="form-control" placeholder="Digite área en m2">
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="">Costo pintura</label>
                    <input id="ipNumero2" type="number" class="form-control" placeholder="$">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">

                <button class="btn btn-outline-info
                btn-block" id="btnCalcular">
                    Calcular precio
                </button>

                <div id="imprimirResultado" class="alert alert-dark mt-5" role="alert">
                    A simple dark alert—check it out!
                </div>
            </div>
        </div>

        <script src="./../js/app.js"></script>

    </div>
</div>











    <script src="./../js/app.js"></script>
</body>
</html>