<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="jumbotron">

            <!-- V=d/t
            d = t*V -->
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label for="">Ingrese Velocidad del móvil</label>
                        <input type="number" id="ipVelocidad" class="form-control" placeholder="Velocidad">m/s
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label for="">Ingrese Tiempo del móvil</label>
                        <input type="number" id="ipTiempo" class="form-control" placeholder="Tiempo">segundos
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <button class="btn btn-outline-info btn-block" id="btnCalcular">
                        Calcular distancia recorrida
                    </button>

                    <div id="imprimirDistancia" class="alert alert-dark" role="alert">
                        Distancia
                    </div>
                </div>
            </div>


        </div>
    </div>
    <script src="./../js/app.js"></script>
</body>

</html>